<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>count</string>
	<key>CFBundleIdentifier</key>
	<string>com.bemisbalkind.widget.count</string>
	<key>Width</key>
	<integer>1024</integer>
	<key>Height</key>
	<integer>768</integer>
	<key>MainHTML</key>
	<string>main.html</string>	
	<key>IBNotifiesOnReady</key>
	<true/>
</dict>
</plist>